.mainHomePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 75%;
  width: 100%;
  margin: 0 30px;
  padding-bottom: 73px;
}

.characterCardList {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.noMovies {
  color: var(--text-color);
  font-size: 52px;
  padding: 10%;
  backdrop-filter: blur(20px);
}
