header {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 60px;
  height: 40px;
  border-bottom: 1px solid rgb(243, 238, 238);
  margin: 20px;
}

.link {
  font-size: 24px;
  font-weight: 600;
  color: rgb(233, 231, 231);
  text-decoration: none;
}

.activeLink {
  color: rgb(75, 159, 45);
}
