.titleApp {
  height: 62px;
  color: var(--text-color);
  font-size: 64px;
  font-family: inherit;
}

.searchBar {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

.searchInput {
  width: 35rem;
  font-size: 22px;
  color: var(--text-color);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  background-color: var(--bg-color);
}

.buttonSearch {
  height: 3rem;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.searchInput::-webkit-search-cancel-button {
  cursor: pointer;
}

@media (max-width: 970px) {
  .searchBar {
    flex-wrap: wrap;
  }
}

@media (max-width: 600px) {
  .searchInput {
    width: 300px;
  }
}
