.searchBar {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

h1 {
  color: var(--text-color);
  backdrop-filter: blur(10px);
  font-size: 3.9rem;
  font-weight: 700;
  line-height: 1.1;
}

.searchInput {
  width: 35rem;
  font-size: 22px;
  color: var(--text-color);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  background-color: var(--bg-color);
}

.buttonSearch {
  height: 3rem;
}

.searchInput::-webkit-search-cancel-button {
  cursor: pointer;
}

@media (max-width: 970px) {
  .searchBar {
    flex-wrap: wrap;
  }
}

@media (max-width: 600px) {
  .searchInput {
    width: 300px;
  }
}
