.inputForm {
  width: 95%;
  font-size: 18px;
  height: 35px;
  border-radius: 10px;
  border: 2px solid rgb(14, 13, 13);
  padding: 7px 8px 7px 15px;
  background: linear-gradient(
    to top,
    lightgrey 0%,
    lightgrey 1%,
    #e0e0e0 26%,
    #efefef 48%,
    #d9d9d9 75%,
    #bcbcbc 100%
  ) !important;
  outline: none;
}

.inputForm[type='checkbox'] {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 32px;
  height: 32px;
  background: linear-gradient(
    to top,
    lightgrey 0%,
    lightgrey 1%,
    #e0e0e0 26%,
    #efefef 48%,
    #d9d9d9 75%,
    #bcbcbc 100%
  );
  accent-color: rgb(75, 159, 45);
  cursor: pointer;
}

.inputForm[type='file'] {
  height: 130px;
  text-align: center;
  padding: 100px 10px;
  color: transparent;
}

.inputForm[type='file']::file-selector-button {
  margin: 50px 110px;
  cursor: pointer;
}

.progressBar {
  width: 95%;
  height: 5px;
  margin-top: -27px;
}

.passwordTitle {
  color: rgb(75, 159, 45);
}

.false {
  border: 2px solid red;
}
